/* modale */

.btn.btn-info.btn-lg{
  width: 100px;
  height: 100px;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 998;
}

.btn img{
  max-width: 100%;
}

.modal-content{
  z-index: 999;
}

.modal-body{
  background-image: url("../img/jumbo.svg");
  background-size: cover;
  color: white;
}
